@import "tailwindcss";

:root {
  font-family: "Advent Pro";

  font-weight: 500;

  --co: #b0b0b0;
  --bg: #383838;
  --window-bg: #606060;
  --spacing: 20px;
}

body {
  color: var(--co);
  background-color: var(--bg);
}
