@import "tailwindcss";

:root {
  font-family: "Advent Pro";

  font-weight: 500;

  --co: #D5DAE4;
  --bg: #31343B;
  --window-bg: #5C626E;
  --spacing: 20px;
}

body {
  color: var(--co);
  background-color: var(--bg);
}
