@import "tailwindcss";

:root {
  font-family: "Advent Pro";

  font-weight: 500;

  --co: #c0c5ce;
  --bg: #1a1e23;
  --window-bg: #4f5b66;
  --spacing: 20px;
}

body {
  color: var(--co);
  background-color: var(--bg);
}
